main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  height: 100vh;
}

.playlist,
.player {
  grid-row: 2;
  overflow-y: auto;
  height: 100%;
}

.header {
  grid-column: span 2;
  grid-row: 1;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    max-width: 375;
  }

  .playlist.active,
  .player.active {
    display: block;
    grid-template-rows: 2;
  }

  .playlist,
  .player {
    display: none;
  }
}
