main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  height: 100vh;
}

.player {
  grid-column: 2 / 3;
  grid-row: 2;
}

.playlist {
  position: relative;
  z-index: 1;
  grid-column: 1 /2;
  grid-row: 2;
  overflow-y: auto;
  height: 100%;
}

.header {
  grid-column: span 2;
  grid-row: 1;
}
