@import url("./button.css");
@import url("./header.css");
@import url("./player.css");
@import url("./now-playing.css");
@import url("./track-cover.css");
@import url("./track-info.css");
@import url("./track-bar.css");
@import url("./media-action-button.css");
@import url("./playlist-item.css");
@import url("./cover-background.css");
@import url("./app.css");
@import url("./playlist.css");

html {
  --main-color: rgba(245, 245, 245, 0.884);
  --main-color-weaker: rgba(245, 245, 245, 0.7);
  --main-color-hover: rgb(245, 245, 245);
  --grayed-out: rgba(245, 245, 245, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--main-color);
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
  /* height: 100vh; */
}
