@import url("./button.css");
@import url("./header.css");
@import url("./player.css");
@import url("./now-playing.css");
@import url("./track-cover.css");
@import url("./track-info.css");

html {
  --main-color: rgba(245, 245, 245, 0.884);
  --main-color-weaker: rgba(245, 245, 245, 0.7);
  --grayed-out: rgba(245, 245, 245, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--main-color);
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 300px; /*move when proper styling is performed*/
}

.cover-background {
  background-image: var(--cover-url);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(20px) brightness(0.4);
}

.cover-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(16, 2, 56, 0.5);
}

.blurred-background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
