.g-button {
  border: none;
  background: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

button:hover .button-icon {
  color: var(--main-color-hover);
  transition: color 0.2s ease;
}

.not-active-button.toggle {
  color: var(--grayed-out);
}

.button-icon {
  color: inherit;
}

.button-icon.filled,
.icon.filled {
  font-variation-settings: "FILL" 1;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */
